body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {

    color: blue;
}
.row {
    display: flex;
    justify-content: center;
    justify-items: center;
 
}
.box {
    height: 15px;
    width: 15px;
    border: solid black 1px;
}
