h1 {
    color: blue;
}
.row {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.box {
    width: 2rem;
    height: 2rem;
    background-color: red;
    border: solid black 1px;
}