body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {

    color: blue;
}
.row {
    display: flex;
    justify-content: center;
    justify-items: center;
 
}
.content {
    border: solid 1px black;
}
